<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <coveoPostItemProcessingPipeline>
        <processor type="Coveo.SearchProvider.Processors.ExecuteGetBinaryDataPipeline, Coveo.SearchProviderBase" />
      </coveoPostItemProcessingPipeline>
      <coveoGetBinaryData>
        <processor type="Coveo.SearchProvider.Processors.FetchPageContentProcessor, Coveo.SearchProviderBase">
          <inboundFilter hint="list:AddInboundFilter">
            <itemsWithLayout type="Coveo.SearchProvider.Processors.FetchPageContent.Filters.ItemsWithLayout, Coveo.SearchProviderBase" />
            <nonCommerceItems type="Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Processors.FetchPageContent.Filters.NonCommerceItem, Sitecore.Foundation.Commerce.CoveoCommerceIndexing" />
          </inboundFilter>
          <postProcessing hint="list:AddPostProcessing">
            <processor type="Coveo.SearchProvider.Processors.FetchPageContent.PostProcessing.CleanHtml, Coveo.SearchProviderBase">
              <startComment>BEGIN NOINDEX</startComment>
              <endComment>END NOINDEX</endComment>
            </processor>
            <processor type="Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Processors.FetchPageContent.PostProcessing.CleanHtmlTags, Sitecore.Foundation.Commerce.CoveoCommerceIndexing">
              <startTagContent>aside</startTagContent>
              <endTagContent>/aside</endTagContent>
            </processor>
            <processor type="Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Processors.FetchPageContent.PostProcessing.CleanHtmlTags, Sitecore.Foundation.Commerce.CoveoCommerceIndexing">
              <startTagContent>div class="headline "</startTagContent>
              <endTagContent>/div</endTagContent>
            </processor>
            <processor type="Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Processors.FetchPageContent.PostProcessing.CleanHtmlTags, Sitecore.Foundation.Commerce.CoveoCommerceIndexing">
              <startTagContent>ol class="breadcrumb"</startTagContent>
              <endTagContent>/ol</endTagContent>
            </processor>
          </postProcessing>
        </processor>
      </coveoGetBinaryData>
      <coveoInboundFilterPipeline>
        <processor type="Coveo.SearchProvider.CoveoInboundFilters.HasLayoutInboundFilter, Coveo.SearchProviderBase"></processor>
      </coveoInboundFilterPipeline>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <indexAnalyticsFields>true</indexAnalyticsFields>
        <fieldMap>
          <fieldNames hint="raw:AddFieldByFieldName">
            <!-- Technical fields excluded for ranking -->
            <fieldType fieldName="FullPath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="_path" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="AbsolutePath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="ContentPath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="LayoutFilePath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="ParentPath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="MediaPath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="_fullpath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="Path" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="FilePath" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="datasource" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="datauri" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="defaulturi" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="_uniqueid" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <!-- Fields adjustments for Coveo -->
            <fieldType fieldName="description" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="rating" isFacet="true" isSortable="true" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="introductiondate" isFacet="true" isSortable="true" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="retailrating" isFacet="true" isSortable="true" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="commerceancestornames" isMultiValue="true" isSortable="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="imagesurl" isMultiValue="true" useForRanking="false" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="retailprice" useForRanking="false" isSortable="true" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="splittags" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="commerceancestordepartment" isFacet="true" isExternal="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="commerceancestorsubdepartment" isFacet="true" isExternal="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
        </fieldMap>
        <documentOptions>
          <fields hint="raw:AddComputedIndexField">
            <!-- Coveo computed fields -->
            <field fieldName="imagesurl">Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Infrastructure.ComputedFields.ImagesUrlComputedField, Sitecore.Foundation.Commerce.CoveoCommerceIndexing</field>
            <field fieldName="retailrating">Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Infrastructure.ComputedFields.IntegerRatingComputedField, Sitecore.Foundation.Commerce.CoveoCommerceIndexing</field>
            <field fieldName="retailprice">Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Infrastructure.ComputedFields.DecimalPriceComputedField, Sitecore.Foundation.Commerce.CoveoCommerceIndexing</field>
            <field fieldName="splittags" sourceField="tags" separator="," returnType="string">Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Infrastructure.ComputedFields.SplitValueComputedField, Sitecore.Foundation.Commerce.CoveoCommerceIndexing</field>
            <field fieldName="commerceancestordepartment" returnType="string">Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Infrastructure.ComputedFields.CommerceAncestorDepartment, Sitecore.Foundation.Commerce.CoveoCommerceIndexing</field>
            <field fieldName="commerceancestorsubdepartment" returnType="string">Sitecore.Foundation.Commerce.CoveoCommerceIndexing.Infrastructure.ComputedFields.CommerceAncestorSubDepartment, Sitecore.Foundation.Commerce.CoveoCommerceIndexing</field>
            <!-- Commerce Server fields -->
            <field fieldName="catalogitemid" returnType="string">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CatalogItemId, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="instocklocations" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.InStockLocations, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="outofstocklocations" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.OutOfStockLocations, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="orderablelocations" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.OrderableLocations, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="preorderable" returnType="string">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.PreOrderable, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="commercesearchitemtype" returnType="string">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceSearchItemType, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="commerceancestornames" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceAncestorNames, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="commerceancestorids" returnType="idCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceAncestorIds, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="crosssell" returnType="idCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceRelationships, Sitecore.Commerce.Connect.CommerceServer</field>
            <field fieldName="upsell" returnType="idCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceRelationships, Sitecore.Commerce.Connect.CommerceServer</field>
          </fields>
        </documentOptions>
      </defaultIndexConfiguration>
    </coveo>
    <contentSearch>
      <configuration>
        <indexes hint="list:AddIndex">
          <index id="Coveo_master_index" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider">
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/Storefront/Home/Product catalog</root>
              </crawler>
              <crawler name="CustomerServiceCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/content/Storefront/Home/Customer Service</root>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="LifeWithHabitatCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/content/Storefront/Home/Life with Habitat</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
          </index>
          <index id="Coveo_web_index" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider">
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <root>/sitecore/content/Storefront/Home/Product catalog</root>
              </crawler>
              <crawler name="CustomerServiceCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>web</database>
                <root>/sitecore/content/Storefront/Home/Customer Service</root>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="LifeWithHabitatCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>web</database>
                <root>/sitecore/content/Storefront/Home/Life with Habitat</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
